<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>MA3</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/cover.css" rel="stylesheet">
  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">MA3</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="./">Home</a>
            <a class="nav-link" href="./about_us">About us</a>
          </nav>
        </div>
      </header>

      <form name="buscar"  onsubmit= method="post">
      <main role="main" class="inner cover">
        <h1 class="cover-heading">Get your budget.</h1>
        <p class="lead">MA3 is a page related to the world of real estate, where you can calculate the value of your house with only 4 pictures.</p>
        <p class="lead" aria-label="button">
          <a href="./info" class="btn btn-lg btn-secondary" input type = "submit" >Start</a>
        </p>
      </main>
      </form>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Created by Mar Alonso, Alejandro Dopico, Alejandro García, Abel Juncal</a>.</p>
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
