<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MA3</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/form-validation.css" rel="stylesheet">
  </head>


  <body class="bg-light">

  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">MA3</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link" href="./">Home</a>
          <a class="nav-link" href="./about_us">About us</a>
        </nav>
      </div>
    </header>


    <div class="container">



      <div class="py-5 text-center">
        <h2>Upload pictures</h2>
        <p class="lead">To estimate the value of your home we need you to provide us with some information. In the first place, we need four photos of the house: one of the bathroom, another of the kitchen, another of a room and finally one of the front of the house. Secondly, we need you to specify the number of bathrooms and rooms, the square meters and the zip code where the building is located.</p>
      </div>

      <div class="py-5 text-center">

        
      </div>

          <h4 class="mb-3">Real state data</h4>
       
          <form id="form" action="" method="post">
            <div class="row">
              <label for="image1">Image 1</label>
              <input type=" string" class="form-control" id="image1" name="image1" value="">
            </div>
            <div class="row">
              <label for="image2">Image 2</label>
              <input type=" string" class="form-control" id="image2" name="image2" value="">
            </div>
            <div class="row">
              <label for="image1">Image 3</label>
              <input type=" string" class="form-control" id="image3" name="image3" value="">
            </div>
            <div class="row">
              <label for="image1">Image 4</label>
              <input type=" string" class="form-control" id="image4" name="image4" value="">
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="bathroom">Number of bathrooms</label>
                <input type="number" class="form-control" id="bathroom" name="bathroom" value="" required min="0">
                <div class="invalid-feedback">
                  Valid number is required.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="bedrooms">Number of bedrooms</label>
                <input type="number" class="form-control" id="bedrooms" name="bedrooms" value="" required min="0">
                <div class="invalid-feedback">
                  Valid number is required.
                </div>
              </div>
            </div>
            <div class="row">
            <div class="col-md-6 mb-3">
              <label for="meters">Number of square meters</label>
              <input type="number" class="form-control" id="meters" name="meters" value="" required min="0">
              <div class="invalid-feedback">
                Valid number is required.
              </div>
            </div>

              <div class="col-md-3 mb-3">
                <label for="zip">Zip</label>
                <input type="text" class="form-control" id="zip" name="zip" required pattern="\d{5}">
                <div class="invalid-feedback">
                  Zip code required.
                </div>
              </div>
            </div>

            <div class ="boton">
                <button  class="submit-btn" type="submit" style="background-color: grey; border-color: grey" href="results.html" >Continue</button>
            </div>
          </form>
        </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

  </div>

  <script src = "../static/js/info.js">

  </script>
  </body>
</html>
