<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MA3</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body class="text-center">

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">MA3</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link" href="index.html">Home</a>
                <a class="nav-link active" href="about_us.html">About us</a>
            </nav>
        </div>
    </header>


    <div class="about-section">
        <h1>About Us Page</h1>
        <p>We are a group of students from the University of Coruña with a great passion for computing.</p>
    </div>

    <h2 style="text-align:center">Our Team</h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="../static/image/mar.jpeg" alt="Mar" style="width:100%">
                <div class="container">
                    <h2>Mar Alonso</h2>
                    <p class="title">Competitor</p>
                    <p>Software student engineer</p>
                    <p>maralxgar@gmail.com</p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="../static/image/abel.jpeg" alt="Abel" style="width:100%">
                <div class="container">
                    <h2>Abel Juncal</h2>
                    <p class="title">Competitor</p>
                    <p>Computer datascience student engineer</p>
                    <p>abeljuncalsuarez@gmail.com</p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="../static/image/jandro.jpeg" alt="Alejandro" style="width:100%">
                <div class="container">
                    <h2>Alejandro García</h2>
                    <p class="title">Competitor</p>
                    <p>Computer datascience student engineer</p>
                    <p>alejandrgarciagarcia@gmail.com</p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="../static/image/alex.jpeg" alt="AlejandroD" style="width:100%">
                <div class="container">
                    <h2>Alejandro Dopico</h2>
                    <p class="title">Competitor</p>
                    <p>Computer datascience student engineer</p>
                    <p>alexdopico2001@gmail.com</p>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>

